@import './base.css';

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

.red {
  text-decoration: none;
  color: var(--vt-c-red-1);
  transition: 0.4s;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
