@import './base.css';
@import "tooltip.css";
@import "simpleHover.css";
@import "legendaireEffect.css";
@import "checkbox.css";

@font-face {
  font-family: "Big John";
  src: url("fonts/BigJohn.otf");
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

.green {
  text-decoration: none;
  color: var(--vt-c-green-2);
  transition: 0.4s;
}

.red {
  text-decoration: none;
  color: var(--vt-c-red-1);
  transition: 0.4s;
}

.yellow {
  text-decoration: none;
  color: var(--vt-c-yellow-1);
  transition: 0.4s;
}

.blue {
    text-decoration: none;
    color: var(--vt-c-blue-1);
    transition: 0.4s;
}

.js-tilt-glare {
  border-radius: 18px !important;
}

.epic img {
  opacity: 0.8;
}

.epic::after {
  content:"";
  background: linear-gradient(45deg,
  #94009d 0%,
  #ff33fb 20%,
  #7a0070 40%,
  #ff3ded 60%,
  #590064 80%
  )
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 4px;
  filter: blur(8px) brightness(0.6);
  transform: translateZ(-1px);
  animation: rgb 6s linear infinite;
  opacity: 0.8;
}
@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.epic-text {
  animation: epic-color-change 6s linear infinite;
}

.legendaire-text {
  animation: legendaire-color-change 6s linear infinite;
}

.commun-text {
  animation: commun-color-change 6s linear infinite;
}

@keyframes meethicColorChange {
  0% {
    color: #ff0000;
    filter: drop-shadow(0 0 0.2rem #ff0000);
  }
  20% {
    color: #9f6100;
    filter: drop-shadow(0 0 0.4rem #9f6100);
  }
  40% {
    color: #721414;
    filter: drop-shadow(0 0 0.2rem #721414);
  }
  60% {
    color: #9a454c;
    filter: drop-shadow(0 0 0.4rem #9a454c);
  }
  80% {
    color: #ad0000;
    filter: drop-shadow(0 0 0.2rem #ad0000);
  }
  100% {
    color: #ff0000;
    filter: drop-shadow(0 0 0.4rem #ff0000);
  }
}

@keyframes colorChange {
  0% {
    color: #ff0000;
    filter: drop-shadow(0 0 0.75rem #ff0000);
  }
  10% {
    color: #ff9a00;
    filter: drop-shadow(0 0 0.75rem #ff9a00);
  }
  20% {
    color: #d0de21;
    filter: drop-shadow(0 0 0.75rem #d0de21);
  }
  30% {
    color: #4fdc4a;
    filter: drop-shadow(0 0 0.75rem #4fdc4a);
  }
  40% {
    color: #3fdad8;
    filter: drop-shadow(0 0 0.75rem #3fdad8);
  }
  50% {
    color: #2fc9e2;
    filter: drop-shadow(0 0 0.75rem #2fc9e2);
  }
  60% {
    color: #1c7fee;
    filter: drop-shadow(0 0 0.75rem #1c7fee);
  }
  70% {
    color: #5f15f2;
    filter: drop-shadow(0 0 0.75rem #5f15f2);
  }
  80% {
    color: #ba0cf8;
    filter: drop-shadow(0 0 0.75rem #ba0cf8);
  }
  90% {
    color: #fb07d9;
    filter: drop-shadow(0 0 0.75rem #fb07d9);
  }
  100% {
    color: #ff0000;
    filter: drop-shadow(0 0 0.75rem #ff0000);
  }
}

@keyframes epic-color-change {
  0% { color: #94009d; }
  20% { color: #ff33fb; }
  40% { color: #7a0070; }
  60% { color: #ff3ded; }
  80% { color: #590064; }
  100% { color: #94009d; }
}

@keyframes commun-color-change {
  0% { color: #c5c5c5; }
  20% { color: #ffffff; }
  40% { color: #fffbdc; }
  60% { color: #838383; }
  80% { color: #b4b4b4; }
}

strong {
  font-weight: bold;
}

.colorEffect {
  animation: colorChange 6s linear infinite;
}

.colored {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.3rem;
  animation: colorChange 6s linear infinite;
}

.epicColored {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  animation: epic-color-change 6s linear infinite;
}

.meethicColored {
  animation: meethicColorChange 6s linear infinite;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

